.box-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.hbox-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem;
}

.vbox-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
}