.rating {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.rating__stars {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 2px;
}

.rating__star {
  fill: var(--secondary-500);
  stroke: var(--secondary-500);
}

.rating__star--disabled {
  fill: var(--neutral-300);
  stroke: var(--neutral-300);
}